**/*.svg
**/*.png
**/*.jpg
**/*.gif
**/*.webp
**/*.ico

**/*.ttf
**/*.woff
**/*.woff2
**/*.eot

/dist
/build
/public
/ROOT
/template

Assets

.umi
.umi-production

.gitignore
.dockerignore
.eslintignore
.eslintcache
.prettierignore
.editorconfig
.DS_Store
.history
docker
Dockerfile*
CNAME
LICENSE
*.lock
yarn-error.log
